.your-class {
    max-width: 100%;
    position: relative;

    img {
        width: 900px;
        margin-left: auto;
        margin-right: 200px;
    }
}

@media (max-width: 600px) {
    .your-class {
        margin-top: 20px;
        img {
            width: 600px;
        }
    }
}
