.bloque-derecha {
    width: 100%;
    height: 400px;
    padding-top: 50px;
    border: 1px solid hotpink;
}

.fondo-verde-derecha {
    width: 95%;
    height: 300px;
    position: absolute;
    background-color: #8CB2A3;
}

.texto-derecha {
    width: ;
    height: 300px;
    position: relative;
    z-index: 2;
    top:70px;
    background: rgba(242, 242, 242, 0.9);
}
