.nav-header {
    display: flex;
    height: 100px;
    
  .nav {
        padding-top: 40px;
        margin-left: 30px;

        a {
            text-decoration: none;
            color: black;
            text-align: center;
            justify-content: right;
            margin-right: 70px;
            font-weight: 400;
            font-size: 16px;
        }

        a:hover{
            font-weight: 600;
        }
    }


    .logonike {
        padding-left: 70px;
        padding-top: 40px;
        margin-right: 430px;

        img {
            display: flex;
            width: 73px;
            height: 26px;
        }
    }   


    .menu-hambur {
        display: none;
    }


    .logo-kyrie-nav {
        display: none;
    }
}



@media (max-width: 600px) {
    .nav-header {
        display: flex;
        height: 100px;
        
      .nav {
            display: none;
        }
    
        .logonike {
            display:none;
        }  
        
        .menu-hambur {
            display: flex;
            padding-left: 70px;
            padding-top: 40px;
            margin-right: 300px;
    
            img {
                display: flex;
                width: 60px;
                height: 30px;
            }
        }

        .logo-kyrie-nav {
            display: flex;
            padding-left: 40px;
            padding-top: 20px;
            position: absolute;
            z-index: 1;

            img {
                display: flex;
                width: 50px;
                height: 70px;
            }
        }
    }
}