.nav-header {
    display: flex;
    height: 100px;
    
  .nav {
        padding-top: 40px;
        margin-left: 30px;

        a {
            text-decoration: none;
            color: black;
            text-align: center;
            justify-content: right;
            margin-right: 70px;
            font-weight: 400;
            font-size: 16px;
        }

        a:hover{
            font-weight: 600;
        }
    }


    .logonike {
        padding-left: 70px;
        padding-top: 40px;
        margin-right: 430px;

        img {
            display: flex;
            width: 73px;
            height: 26px;
        }
    }   
}



@media (max-width: 600px) {
    .nav-header {
        display: flex;
        height: 100px;
        
      .nav {
            padding-top: 40px;
            margin-left: 30px;
            display: none;
    
            a {
                text-decoration: none;
                color: black;
                text-align: center;
                justify-content: right;
                margin-right: 70px;
                font-weight: 400;
                font-size: 16px;
            }
    
            a:hover{
                font-weight: 600;
            }
        }
    
    
        .logonike {
            padding-left: 70px;
            padding-top: 40px;
            margin-right: 430px;
    
            img {
                display: flex;
                width: 73px;
                height: 26px;
            }
        }   
    }
}

@media (max-width: 320px) {
    
}