.nav {
    display: flex;
    border: 2px solid hotpink;
  
    a {
        text-decoration: none;
        color: black;
        text-align: center;
        justify-content: right;
        margin-right: 80px;
        padding-top: 25px;

    }
}


.logonike {

    padding-left: 70px;
    padding-top: 25px;
    margin-right: 430px;

    img {
        display: flex;
        width: 73px;
        height: 26px;
    }
    
}   