<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'has-js ';
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ renderData.description or description or metadata.description }}">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body id="top" itemscope itemtype="http://schema.org/WebPage">
<div>
    <a href="/">Kyrie 7</a>
    <a href="/detalles/">Detalles</a>
    <a href="/colores/">Colores</a>
    <a href="/kyrie_irving/">Kyrie Irving</a>
    <a href="/comprar/">Comprar</a>
    
</div>

  {{ content | safe }}

  <div class="footer">
  &copy; 2021 - Kyrie 7 | Todos los derechos reservados
  </div>

  <script src="/scripts/index.js"></script>
</body>
</html>
