<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'has-js ';
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ renderData.description or description or metadata.description }}">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body id="top" itemscope itemtype="http://schema.org/WebPage">

<div class="nav-header">
    <div class="logonike">
				<a href="/"><img src="../images/logonike.png" alt="Logo Nike">
		</div>
    <div class="nav">
      <a href="/">KYRIE 7</a>
      <a href="/detalles/">DETALLES</a>
      <a href="/colores/">COLORES</a>
      <a href="/kyrie_irving/">KYRIE IRVING</a>
      <a href="/comprar/">COMPRAR</a>
    </div>
</div>

  {{ content | safe }}

  <div class="footer">
    <div class="nav-footer">
      <a href="/">KYRIE 7</a>
      <a href="/detalles/">DETALLES</a>
      <a href="/colores/">COLORES</a>
      <a href="/kyrie_irving/">KYRIE IRVING</a>
      <a href="/comprar/">COMPRAR</a>
    </div>

    <div class="rrss-copyright">
      <div class="rrss"> 
        <div class="logo-twitter">
				  <a href="https://twitter.com/kyrieirving"><img src="../images/twitter.png" alt="Twitter"></a>
		    </div>

        <div class="logo-facebook">
				  <a href="https://es-es.facebook.com/KyrieIrving"><img src="../images/facebook.png" alt="Facebook"></a>
		    </div>

        <div class="logo-instagram">
				  <a href="https://www.instagram.com/kyrieirving/"><img src="../images/instagram.png" alt="Instagram"></a>
		    </div>
      </div>

      <div class="copyright"> 
        &copy; 2021 - Kyrie 7 | All right reserved
      </div>
    </div>
  </div>
  
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <script src="/scripts/index.js"></script>

  <script>
      $(document).ready(function(){
    $('.your-class').slick({
      //setting-name: setting-value
      prevArrow: '<button type="button" class="slick-prev"> </button>', 
      nextArrow: '<button type="button" class="slick-next"> </button>'

    });
  });
  </script>
</body>
</html>
