---
layout: layouts/base.njk
title: Colores
---

<div class="titulo-pagina"> 
    <img src="../images/titulo-colores.png" alt="Título Colores">
</div>

<div class="your-class">
  <div><img src="../images/shoe1.png" alt="Collage Fotos Kyrie7"></div>
  <div><img src="../images/shoe2.png" alt="Collage Fotos Kyrie7"></div>
  <div><img src="../images/shoe3.png" alt="Collage Fotos Kyrie7"></div>
</div>