---
layout: layouts/base.njk
title: Comprar
---

<div class="comprar"> 
    <div class="kyrie7-running"></div>
    <div class="boton-container">
	    <a href="https://www.nike.com/es/t/kyrie-7-zapatillas-de-baloncesto-WTN4WG/CQ9326-002">COMPRAR</a>
    </div>
</div>