---
layout: layouts/base.njk
title: Comprar
---

<div class="kyrie7_running">
    <img src="../images/.png" alt="Imagen bamba Kyrie 7">
</div>

<div class="boton-container">
	<a href="https://www.nike.com/es/t/kyrie-7-zapatillas-de-baloncesto-WTN4WG/CQ9326-002" class="boton-comprar">COMPRAR</a>
</div>