---
layout: layouts/base.njk
title: Detalles
---

<div class="titulo-pagina"> 
    <img src="../images/titulo-detalles.png" alt="Título Detalles">
</div>

<div class="bloque-derecha">
    <div class="fondo-verde-derecha"> </div>
    <div class="texto-derecha">
        <div class="titulo-derecha">
            AJUSTE PERFECT0 DESDE EL PRIMER PASO
        </div>
        <div class="descripcion-derecha">
            La parte superior de malla de las Kyrie 7 envuelve tu pie y lo mantiene fijo para proporcionar un ajuste ceñido, cómodo y con un apoyo firme para tu velocidad para que puedas superar fácilmente la defensa contraria.
        </div>
    </div>
    <div class="fotos-derecha">
        <img src="../images/.png" alt="Título Detalles">
    </div>
</div>

<div class="bloque-izquierda">
    <div class="fondo-verde"> </div>
    <div class="texto">
        <div class="titulo">
            TRACCIÓN PARA CORTES RÁPIDOS
        </div>
        <div class="descripcion">
            Las Kyrie 7 incorporan una tracción de 360 grados diseñada científicamente para proporcionarte el control multidireccional que necesitas para hacer cortes fulminantes.
        </div>
    </div>
    <div class="fotos">
        <img src="../images/.png" alt="Título Detalles">
    </div>
</div>

<div class="bloque-derecha">
    <div class="fondo-verde"> </div>
    <div class="texto">
        <div class="titulo">
            SE MUEVEN TAN RÁPIDO COMO TÚ
        </div>
        <div class="descripcion">
            La unidad Air Zoom Turbo curvada y flexible de las Kyrie 7 responde ante cualquier tiro que hagas cuando regateas: desde los tiros en bomba desde la línea de tiro a los triples con paso atrás.
        </div>
    </div>
    <div class="fotos">
        <img src="../images/.png" alt="Título Detalles">
    </div>
</div>
