---
layout: layouts/base.njk
title: Kyrie 7
---

<div class="hero-banner">
    <img src="../images/hero-banner.png" alt="Banner Kyrie 7">
</div>

<div class="hero-banner-mobile">
    <img src="../images/hero-banner-mobile.png" alt="Banner Kyrie 7">
</div>

<div class="logo-kyrie">
    <img src="../images/logo-kyrie.png" alt="Banner Kyrie 7">
</div>

<div class="rrss-kyrie7"> 
    <div class="logo-twitter">
        <a href="https://twitter.com/kyrieirving"><img src="../images/twitter.png" alt="Twitter"></a>
    </div>

    <div class="logo-facebook">
        <a href="https://es-es.facebook.com/KyrieIrving"><img src="../images/facebook.png" alt="Facebook"></a>
    </div>

    <div class="logo-instagram">
        <a href="https://www.instagram.com/kyrieirving/"><img src="../images/instagram.png" alt="Instagram"></a>
    </div>
</div>
