---
layout: layouts/base.njk
title: Kyrie Irving
---

<div class="titulo-pagina-kyrie"> 
    <img src="../images/titulo-kyrie.png" alt="Título Kyrie Irving">
</div>

<div class="info-kyrie">
     <div class="foto-kyrie"> 
        <img src="../images/kyrie-retrato.jpg" alt="Kyrie Irving">
    </div>
    <ul class="info">
        <li class="info1">dorsal</li>
        <li class="info2">11</li>
        <li class="info1">posición</li>
        <li class="info2">BASE</li>
        <li class="info1">equipo</li>
        <li class="info2">BROOKLYN NETS</li>
        <li class="info1">estatura</li>
        <li class="info2">1,88 m</li>
        <li class="info1">edad</li>
        <li class="info2">28</li>
        <li class="info1">PPP</li>
        <li class="info2">27.4</li>
    </ul>
</div>

<div class="palmares">
    <div class="titulo-kyrieirving">PALMARÉS</div>
    <div class="listas-palmares">
        <ul class="palmares-lista"> 
            <li><strong>Campeón NBA</strong> (2016)</li>
            <li><strong>2º Mejor Quinteto</strong> (2019)</li>
            <li><strong>3r Mejor Quinteto</strong> (2015)</li>
        </ul>

        <ul class="palmares-lista"> 
            <li><strong>6 veces All-Star</strong></li>
            <li><strong>MVP All Star</strong> (2014)</li>
            <li><strong>Rookie del Año</strong> (2014)</li>
        </ul>
    </div>
</div>

<div class="trayectoria"> 
    <div class="titulo-kyrieirving">TRAYECTORIA</div>
    <div class="camisetas-trayectoria"> 
         <img src="../images/camisetas-trayectoria.png" alt="Camisetas Trayectoria Kyrie Irving">
    </div>
</div>