---
layout: layouts/base.njk
title: Kyrie Irving
---

<div class="titulo-pagina"> 
    <img src="../images/.png" alt="Título Kyrie Irving">
</div>

<div class="info-kyrie">
     <div class="foto-kyrie"> 
        <img src="../images/.png" alt="Kyrie Irving">
    </div>
    <div class="info">
        <li>dorsal 
        <li>11
        <li>posición
        <li>BASE
        <li>equipo 
        <li>BROOKLYN NETS
        <li>estatura
        <li>1,88 m
        <li>edad
        <li>28
        <li>PPP
        <li>27.4
    </div>
</div>

<div class="palmares">
    <div class="titulo-kyrieirving">PALMARÉS</div>
    <div class="listas-palmares">
        <div class="palmares-izquierda"> 
            <li>Campeón NBA (2016)
            <li>2º Mejor Quinteto (2019)
            <li>3r Mejor Quinteto (2015)
        </div>

        <div class="palmares-derecha"> 
            <li>6 veces All-Star
            <li>MVP All Star (2014)
            <li>Rookie del Año (2014)
        </div>
    </div>
</div>

<div class="trayectoria"> 
    <div class="titulo-kyrieirving">TRAYECTORIA</div>
    <div class="camisetas-trayectoria"> 
         <img src="../images/.png" alt="Camisetas Trayectoria Kyrie Irving">
    </div>
</div>